*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(8, 59, 76);
}

.font-85 {
    font-size: 85px;
}

.container {
    padding: 0 100px;
    font-size: 30px;
}

.box {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
}

.box-green {
    background-color: rgb(12, 214, 161);
}

.box-yellow {
    background-color: rgb(255, 209, 102);
}

.box-red {
    background-color: rgb(240, 70, 111);
}

.box-blue {
    background-color: rgb(19, 137, 178);
}